/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "UTF-8";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* --clr-primary: #5e63ca; */
  --clr-primary: #f9a905;
  --clr-dark: #111;
  --clr-dark-light: #333;
  --clr-gray: #555;
  --clr-light: #efefef;
  --clr-red: #ef5555;
  --clr-green: #009c00;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Montserrat', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #fff;
  line-height: 1.5;
  font-family: sans-serif;
  padding-top: 70px;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  cursor: pointer;
}

button:disabled {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  font-family: 'Montserrat';
  font-family: var(--ff-secondary);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0;
  margin-bottom: 1rem;
  font-family: 'Roboto';
  font-family: var(--ff-primary);
}

svg {
  width: 1em;
  height: 1em;
}

input:not([type='checkbox']) {
  display: block;
  padding: 0.8rem 0.5rem;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #aaa;
}

input[type='checkbox'] {
  cursor: pointer;
}

input:invalid {
  border-color: var(--clr-red);
}

label {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.text-center {
  text-align: center !important;
}

.ml-sm {
  margin-left: 0.5rem !important;
}
.ml-md {
  margin-left: 1rem !important;
}
.ml-lg {
  margin-left: 2rem !important;
}
.mr-sm {
  margin-right: 0.5rem !important;
}
.mr-md {
  margin-right: 1rem !important;
}
.mr-lg {
  margin-right: 2rem !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.text-danger {
  color: red !important;
}

#root:not(:empty) + .loader {
  display: none;
}

.nav__link {
  padding: 0.25rem 0;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-family: var(--ff-secondary);
  font-weight: 500;
  position: relative;
  padding-bottom: 0.5rem;
}
.nav__link + * {
  margin-left: 2rem;
}
.nav__link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: currentColor;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.nav__link:focus::before,
.nav__link:hover::before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.side-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: #fff;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.side-nav-wrapper.is-open {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}
.side-nav-wrapper li {
  margin-bottom: 1.5rem;
}
.side-nav-wrapper .nav__link {
  font-size: 1.25rem;
}
.side-nav-wrapper .nav__link::before {
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
.side-nav-wrapper .btn-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.btn,
.btn-sm,
.btn-lg,
.btn-block {
  line-height: inherit;
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  text-transform: capitalize;
}

.btn-block {
  display: block;
  width: 100%;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.btn-lg {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}

.btn-sm {
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem;
}

.btn-icon {
  padding: 0;
  border: none;
  outline: none;
  line-height: 1;
  font-size: 1.25rem;
  background: transparent;
  padding: 0.25rem;
}

.btn-primary {
  background: #5e63ca;
  background: var(--clr-primary);
}

.btn-dark {
  background: #222;
}

.btn-danger {
  background: #ef5555;
  background: var(--clr-red);
}

.btn-success {
  background: #009c00;
  background: var(--clr-green);
}

.btn-dark,
.btn-danger,
.btn-primary,
.btn-success {
  color: #fff;
}
.btn-dark:focus,
.btn-dark:hover,
.btn-danger:focus,
.btn-danger:hover,
.btn-primary:focus,
.btn-primary:hover {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

.btn-bars {
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.btn-bars span {
  display: inline-block;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background: currentColor;
}
.btn-bars span + span {
  margin-top: 4px;
}

.btn-close {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #efefef;
}

.btn-add-wishlist {
  position: absolute;
  z-index: 1;
  right: 0.5rem;
  top: 0.5rem;
  background: transparent;
  font-size: 1.5rem;
  color: #ef5555;
  color: var(--clr-red);
  border: none;
  outline: none;
  padding: 0.25rem;
  -webkit-transition: opacity 150ms ease;
  -o-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}

.product-placeholder-card {
  background: #ececec;
  -webkit-box-shadow: 0 0 2px rgb(0 0 0 / 25%);
  box-shadow: 0 0 2px rgb(0 0 0 / 25%);
  height: 240px;
  opacity: 0.8;
  -webkit-animation: fade-in-out 3s ease-in-out infinite;
  animation: fade-in-out 3s ease-in-out infinite;
}
@-webkit-keyframes fade-in-out {
  50% {
    opacity: 0.5;
  }
}
@keyframes fade-in-out {
  50% {
    opacity: 0.5;
  }
}

.product-card {
  opacity: 0;
  -webkit-animation: fade-in 1s 300ms ease-in-out forwards;
  animation: fade-in 1s 300ms ease-in-out forwards;
  position: relative;
}
.product-card__img {
  width: 100%;
  height: 250px;
  position: relative;
  text-align: center;
}
.product-card__img img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product-card__img.is-wide img {
  -o-object-fit: contain;
  object-fit: contain;
}
.product-card__info {
  padding: 0.5rem 1.15rem;
  text-align: center;
}
.product-card__info .title {
  font-size: 0.95rem;
  font-weight: 500;
  text-transform: capitalize;
}
.product-card__info .price {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  color: var(--clr-dark-light);
}
.product-card__info .price--del {
  text-decoration: line-through;
  font-size: 0.9rem;
  color: #999;
  margin-left: 0.5rem;
}
.product-card__info .discount {
  margin-left: 0.25rem;
  color: #009c00;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
}
.product-card .btn-add-wishlist {
  opacity: 0;
}

.product-card:focus .btn-add-wishlist,
.product-card:hover .btn-add-wishlist {
  opacity: 1;
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
.logo {
  font-size: 1rem;
  font-family: 'Montserrat';
  font-family: var(--ff-secondary);
  font-weight: 700;
}

.badge {
  font-size: 0.8rem;
  display: inline-block;
  border: 1px solid currentColor;
  border-radius: 4px;
  padding: 0.05rem 0.5rem;
}

.badge-green {
  color: #5fc55f;
}

.badge-red {
  color: #f05252;
}

.badge-dark {
  background: #111;
  color: #fff;
}

.product-ratings .stars {
  display: inline-block;
  background: #009c00;
  background: var(--clr-green);
  color: #fff;
  padding: 0.08rem 0.55rem;
  border-radius: 100vh;
}
.product-ratings .stars svg {
  margin-bottom: -2px;
}
.product-ratings .ratings-count {
  font-size: 0.9rem;
  color: #999;
  margin-left: 0.5rem;
}

.product-price > * + * {
  margin-left: 0.5rem;
}
.product-price .price--cur {
  font-size: 2rem;
}
.product-price .price--del {
  font-size: 0.95rem;
  color: #999;
  text-decoration: line-through;
}
.product-price .offer {
  color: #009c00;
  color: var(--clr-green);
  font-weight: 600;
  text-transform: uppercase;
}

.product-offers h4 {
  font-size: 1.05rem;
}
.product-offers p {
  font-size: 0.9rem;
  padding-left: 0.5rem;
  margin-bottom: 0.25rem;
}

.product-sizes {
  cursor: default;
  margin-top: 2rem;
}
.product-sizes h6 {
  color: #666;
  margin-right: 2rem;
}
.product-sizes span {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #333;
  border-radius: 2px;
  cursor: pointer;
}
.product-sizes span + span {
  margin-left: 0.5rem;
}
.product-sizes span.is-active {
  background: coral;
  color: #fff;
  border-color: coral;
}

.product-details h3 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}
.product-details .details-container {
  padding-left: 0.5rem;
}
.product-details .details-container > div {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.product-details span {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.product-details span:first-child {
  font-weight: bold;
}

.search-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: #fff;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-105%);
  -ms-transform: translateY(-105%);
  transform: translateY(-105%);
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out,
    -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out,
    -webkit-transform 250ms ease-in-out;
}
.search-box__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 4rem 2rem;
  max-width: 900px;
  margin: auto;
  position: relative;
}
.search-box__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.search-box .form-search {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-box .form-search input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: 2px solid #999;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.search-box .form-search input::-webkit-input-placeholder {
  color: #ccc;
}
.search-box .form-search input::-moz-placeholder {
  color: #ccc;
}
.search-box .form-search input:-ms-input-placeholder {
  color: #ccc;
}
.search-box .form-search input::-ms-input-placeholder {
  color: #ccc;
}
.search-box .form-search input::placeholder {
  color: #ccc;
}
.search-box .form-search button {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.search-box.is-open {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}

.wishlist-item,
.cart-item {
  border-width: 1px;
  border-style: solid;
  border-color: #ddd transparent #ddd transparent;
  padding: 1rem 0.5rem;
  margin: 1.5rem auto;
}
.wishlist-item__remove {
  margin-right: 1.5rem;
  font-size: 1rem;
}

.cart-item__remove {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.wishlist-item__img,
.cart-item__img {
  width: 100px;
  height: 100px;
  margin-right: auto;
}
.wishlist-item__img img,
.cart-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.wishlist-item__info,
.cart-item__info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 1rem;
}

.cart-item__qty {
  padding: 0.25rem;
  text-transform: uppercase;
  border-radius: 4px;
}
.wishlist-item__info > *,
.cart-item__info > * {
  margin: 0;
}
.wishlist-item__info > * + *,
.cart-item__info > * + * {
  margin-top: 0.5rem;
}
.wishlist-item__title,
.cart-item__title {
  font-size: 1rem;
  font-weight: 500;
}
.wishlist-item__price,
.cart-item__price {
  font-weight: 500;
  font-size: 1.15rem;
}

@media screen and (min-width: 768px) {
  .wishlist-item__info,
  .cart-item__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .wishlist-item__info > * + *,
  .cart-item__info > * + * {
    margin-top: 0;
  }

  .cart-item__remove {
    -ms-flex-item-align: initial;
    -ms-grid-row-align: initial;
    align-self: initial;
  }
}
/* .form-signup label[for='terms'],
.form-login label[for='terms'] {
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #333;
  cursor: pointer;
} */

.form-login input.is-invalid,
.form-signup input.is-invalid {
  border-color: red;
}

.form-error {
  font-size: 0.8rem;
  color: red;
}

.form-signup button[type='submit'],
.form-login button[type='submit'] {
  margin-top: 1.5rem;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#86ef86),
    to(#16a716)
  );
  background: -o-linear-gradient(top, #86ef86 0%, #16a716 100%);
  background: linear-gradient(to bottom, #86ef86 0%, #16a716 100%);
  color: #fff;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  -o-transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}
.form-signup button[type='submit']:focus,
.form-signup button[type='submit']:hover,
.form-login button[type='submit']:focus,
.form-login button[type='submit']:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.form-login button[type='submit']:disabled,
.form-signup button[type='submit']:disabled {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.btn-view-password {
  position: absolute;
  top: 52%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 9px;
  color: #999;
}

.form-login button[type='submit'] {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fda87f),
    to(#f36936)
  );
  background: -o-linear-gradient(top, #fda87f 0%, #f36936 100%);
  background: linear-gradient(to bottom, #fda87f 0%, #f36936 100%);
}

.form-group {
  margin-bottom: 1rem;
  position: relative;
}
.form-group__label {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  color: #333;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.form-col + .form-col {
  margin-left: 0.65rem;
}

@media screen and (max-width: 500px) {
  .form-col {
    min-width: 100%;
  }
  .form-col + .form-col {
    margin: 0;
  }
}
.product-img-group {
  margin-bottom: 2.5rem;
}

.product-img-lg {
  width: 100%;
  max-width: 400px;
  height: 500px;
  margin: auto;
  text-align: center;
  padding: 1rem;
  position: relative;
}
.product-img-lg img {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.product-img-lg.is-wide img {
  -o-object-fit: contain;
  object-fit: contain;
}
.product-img-lg .btn-add-wishlist {
  top: 1rem;
  right: 1rem;
}

.window-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.window-images div {
  width: 80px;
  height: 80px;
  border: 3px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.window-images img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.window-images div.is-active {
  border-color: #2f34a2;
}
.window-images div + div {
  margin-left: 1rem;
}

@media screen and (min-width: 900px) {
  .product-img-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .window-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .window-images div + div {
    margin: 1rem 0 0;
  }
}
.container {
  padding: 0 1.5rem;
  max-width: 1400px;
  margin: auto;
}

.product-cards-container,
.best-selling-card-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 2rem;
}

.my-wishlist,
.my-cart {
  padding: 4rem 1rem;
}
.my-wishlist__container,
.my-cart__container {
  max-width: 1000px;
  margin: auto;
}
.my-wishlist header,
.my-cart header {
  margin-bottom: 3.5rem;
}
.my-wishlist header h2,
.my-cart header h2 {
  font-weight: 400;
}

.my-cart footer {
  margin-top: 6rem;
}
.my-cart footer h3 {
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-family: var(--ff-primary);
  font-weight: 400;
  margin-bottom: 0;
}
.my-cart footer .badge {
  margin: 0.5rem 0;
}

.join-us,
.login {
  padding: 6rem 1.5rem;
}
.join-us__container,
.login__container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 550px;
}
.join-us__header,
.login__header {
  margin-bottom: 2rem;
}
.join-us__heading,
.login__heading {
  font-size: 2rem;
  margin: 0;
  color: #5ad05a;
}
.join-us p,
.login p {
  margin: 1.5rem 0;
  color: #333;
}
.join-us p a,
.login p a {
  color: dodgerblue;
}

.login__heading {
  color: coral;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding: 1rem 0;
  color: #111;
  background: #fff;
  -webkit-transition: background 250ms ease-in;
  -o-transition: background 250ms ease-in;
  transition: background 250ms ease-in;
  -webkit-box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.2);
}

.header.header--transparent {
  background: transparent;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header .btn-icon {
  color: inherit;
  fill: currentColor;
  font-size: 1.5rem;
}
.header__icons-group > * + * {
  margin-left: 0.5rem;
}
.cart-badge {
  font-size: 1rem;
  -webkit-transform: translate(3px, -14px);
  -ms-transform: translate(3px, -14px);
  transform: translate(3px, -14px);
  display: inline-block;
  font-weight: 600;
}
.cart-checkout > * + * {
  margin-top: 0.5rem;
}

.header.with-bars .logo,
.header.with-bars .nav {
  display: none;
}
.header .logo.is-visible {
  display: inline-block;
}

.header.bg-white {
  background: #fff;
  -webkit-box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.15);
  color: #333;
  color: var(--clr-dark-light);
}

@media screen and (min-width: 925px) {
  .header.with-bars .logo {
    display: inline-block;
  }
  .header.with-bars .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header.with-bars .btn-bars {
    display: none;
  }
}

.banner {
  background-color: #f9a905;
  height: 100vh;
  max-height: 800px;
}

.banner__container {
  width: 100%;
  padding: 0 1.5rem;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background-image: url('/images/banner-img.png');
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 700px;
  position: relative;
}

.banner__text {
  position: absolute;
  width: 75%;
  max-width: 600px;
  bottom: 5%;
  left: 5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 1.5rem;
}

.banner__title,
.banner__subtitle {
  color: #fff;
  font-family: 'Montserrat';
  font-family: var(--ff-secondary);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.banner__title {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.banner__subtitle {
  font-size: 1.45rem;
  text-transform: capitalize;
  font-weight: 500;
}

.banner .btn-show-more {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  background: #fff;
  color: #f9a905;
}

.products {
  padding: 5rem 0;
}
.products__header {
  text-align: center;
  margin-bottom: 4rem;
}
.products__header h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #333;
  color: var(--clr-primary);
  font-family: serif;
}
.products__header p {
  color: #f9a905;
  color: var(--clr-gray);
}

.products__categories {
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
  white-space: nowrap;
}
.products__categories > * + * {
  margin-left: 1.5rem;
}
.products-nav-btn {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.1rem;
  padding: 0.45rem 0.25rem;
  color: #f57a7a;
  font-weight: 500;
  font-family: 'Montserrat';
  font-family: var(--ff-secondary);
  position: relative;
}
.products-nav-btn.is-active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: currentColor;
  border-radius: 4px;
}

.product-cards-container > a {
  display: none;
}
.product-cards-container > a.is-visible {
  display: block;
}

.product-cards-container.wide-children .product-cards__img {
  height: 200px;
}

.testimonials {
  background: #5e63ca;
  color: #fff;
  text-align: center;
  padding: 4rem 1rem;
  overflow-x: hidden;
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.35);
}
.testimonials > * {
  color: inherit;
}
.testimonials__heading {
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.testimonial-card {
  max-width: 700px;
  margin: auto;
}
.testimonial-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.testimonial-card .comment {
  padding: 1rem;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  margin-bottom: 1.5rem;
  background: #7e83e6;
  font-style: italic;
  position: relative;
}
.testimonial-card .comment::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  border-width: 10px;
  border-color: #7e83e6 transparent transparent transparent;
  border-style: solid;
}
.testimonial-card .comment.animate {
  -webkit-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-animation: motion 2s 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  animation: motion 2s 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  -webkit-transform: translateX(4px) rotate(4deg) forwards;
  -ms-transform: translateX(4px) rotate(4deg) forwards;
  transform: translateX(4px) rotate(4deg) forwards;
}

@-webkit-keyframes motion {
  20% {
    -webkit-transform: translateX(10px) rotate(10deg);
    transform: translateX(10px) rotate(10deg);
  }
  40% {
    -webkit-transform: translateX(-10px) rotate(-10deg);
    transform: translateX(-10px) rotate(-10deg);
  }
  50% {
    -webkit-transform: translateX(5px) rotate(5deg);
    transform: translateX(5px) rotate(5deg);
  }
  60% {
    -webkit-transform: translateX(-5px) rotate(-5deg);
    transform: translateX(-5px) rotate(-5deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(2deg);
    transform: translateX(2px) rotate(2deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-2deg);
    transform: translateX(-2px) rotate(-2deg);
  }
  90%,
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes motion {
  20% {
    -webkit-transform: translateX(10px) rotate(10deg);
    transform: translateX(10px) rotate(10deg);
  }
  40% {
    -webkit-transform: translateX(-10px) rotate(-10deg);
    transform: translateX(-10px) rotate(-10deg);
  }
  50% {
    -webkit-transform: translateX(5px) rotate(5deg);
    transform: translateX(5px) rotate(5deg);
  }
  60% {
    -webkit-transform: translateX(-5px) rotate(-5deg);
    transform: translateX(-5px) rotate(-5deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(2deg);
    transform: translateX(2px) rotate(2deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-2deg);
    transform: translateX(-2px) rotate(-2deg);
  }
  90%,
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.65, 0.05, 0.11, 1.2);
  transition: -webkit-transform 1.5s cubic-bezier(0.65, 0.05, 0.11, 1.2);
  -o-transition: transform 1.5s cubic-bezier(0.65, 0.05, 0.11, 1.2);
  transition: transform 1.5s cubic-bezier(0.65, 0.05, 0.11, 1.2);
  transition: transform 1.5s cubic-bezier(0.65, 0.05, 0.11, 1.2),
    -webkit-transform 1.5s cubic-bezier(0.65, 0.05, 0.11, 1.2);
}
.slider > * {
  min-width: 100%;
  padding: 0 1rem;
}

.footer {
  padding-bottom: 0;
  border-top: 1px solid #ddd;
  padding-top: 4rem;
}
.footer__col {
  width: 100%;
  margin-bottom: 2.5rem;
}

.footer__col h5 {
  color: var(--clr-primary);
}

@media screen and (min-width: 600px) {
  .footer__col {
    width: 50%;
  }

  .footer__col:last-child {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer__col {
    width: initial;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
.helper-links {
  color: #555;
  color: var(--clr-gray);
}
.helper-links__group {
  margin-bottom: 1.5rem;
}
.helper-links__group h5 {
  font-weight: 500;
  color: #5e63ca;
  color: var(--clr-primary);
  text-transform: capitalize;
}
.helper-links__group:last-child p {
  line-height: 1.6;
}

.footer-links-menu {
  line-height: 2;
}
.footer-links-menu li::before {
  content: '›';
  font-size: 1.25rem;
  margin-right: 0.15rem;
}
.footer-links-menu a:focus,
.footer-links-menu a:hover {
  color: #111;
}

.follow-us a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  color: #5e63ca;
  color: var(--clr-primary);
  font-size: 1.15rem;
  text-align: center;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
}
.follow-us a:focus,
.follow-us a:hover {
  background: var(--clr-primary);
  color: #fff;
  outline: none;
}

.footer__bottom {
  padding: 1.5rem 1rem;
  -webkit-box-shadow: -1px 0 3px rgba(0, 0, 0, 0.35);
  box-shadow: -1px 0 3px rgba(0, 0, 0, 0.35);
}
.footer__bottom p {
  margin: 0;
  font-size: 0.9rem;
}

.product {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.product__view button + button {
  margin-left: 0.5rem;
}

.product__info {
  margin-top: 4rem;
  color: #111;
  color: var(--clr-dark);
}
.product__info > * + * {
  margin-top: 2rem;
}
.product__info .product-ratings,
.product__info .product-price {
  margin-top: 1rem;
}
.product__info .product-details {
  margin-top: 4rem;
}
.product__info__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 900px) {
  .product__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product__container .product__view {
    width: 50%;
  }
  .product__container .product__info {
    width: 50%;
    padding-left: 2rem;
    margin-top: 0;
  }
}

.search-results {
  padding: 4rem 0;
}

.search-results__heading {
  font-size: 1.25rem;
  font-weight: 400;
  color: #555;
  margin-bottom: 2rem;
}

/* -------------- Loaidng Spinner ------------ */
@-webkit-keyframes ldio-jhf4ai5wmjr {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes ldio-jhf4ai5wmjr {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-jhf4ai5wmjr div {
  position: absolute;
  width: 50%;
  height: 50%;
  border: 2px solid currentColor;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-jhf4ai5wmjr div {
  -webkit-animation: ldio-jhf4ai5wmjr 1s linear infinite;
  animation: ldio-jhf4ai5wmjr 1s linear infinite;
  top: 50%;
  left: 50%;
}
.loadingio-spinner-rolling-lohd8blwk9i {
  width: 35px;
  height: 35px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-jhf4ai5wmjr {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.ldio-jhf4ai5wmjr div {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* ---------- Profile ------------- */
.profile-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.profile-grid > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.profile-grid__col:nth-child(1) {
  background: #5e63ca;
  background: var(--clr-primary);
  color: #fff;
}

.profile-grid__col:nth-child(1) header {
  padding: 1.75rem 1.25rem;
}

.profile-grid .user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.user__img {
  width: 120px;
  margin-bottom: 0.5rem;
}

.user__name {
  font-size: 1.25rem;
}

.user__email {
  font-size: 0.95rem;
  letter-spacing: 1px;
}

.btn-go-home {
  border: 2px solid currentColor;
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
  border-radius: 2px;
}

.btn-go-home span,
.btn-go-home svg {
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.btn-go-home svg {
  opacity: 0;
  position: absolute;
}

.btn-go-home:hover span,
.btn-go-home:focus span {
  padding-left: 1.25rem;
}

.btn-go-home:hover svg,
.btn-go-home:focus svg {
  opacity: 1;
}

.options {
  position: relative;
}

.options:focus-within .options__menu,
.options:hover .options__menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.options__menu {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  background: #fff;
  padding: 1rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  color: #000;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
  -webkit-transition: opacity 300ms ease-in-out,
    -webkit-transform 300ms ease-in-out;
  transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -o-transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out,
    -webkit-transform 300ms ease-in-out;
  border-radius: 2px;
}

.options__menu a {
  display: block;
  white-space: nowrap;
  padding: 0.35rem 0.5rem;
  -webkit-transition: background 250ms ease;
  -o-transition: background 250ms ease;
  transition: background 250ms ease;
}

.options__menu a:focus,
.options__menu a:hover {
  background: #efefef;
}

.options__btn {
  background: transparent;
  color: currentColor;
  font-size: 1.5rem;
  border: none;
  outline: none;
}

.profile-grid__col:nth-child(2) {
  padding: 2rem 1.5rem;
}

@media screen and (min-width: 900px) {
  .profile-grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .profile-grid__col:nth-child(1) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 35%;
    flex: 1 1 35%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: initial;
  }

  .profile-grid__col:nth-child(2) {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 65%;
    flex: 1 1 65%;
    min-height: 100vh;
  }

  .profile-grid .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }

  .profile-grid .user__img {
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .profile-grid .user__text {
    border-left: 2px solid currentColor;
    padding: 0.5rem;
  }
}

.order-overview {
  padding: 0.75rem;
  background: #f5f5f5;
  margin-bottom: 1.5rem;
}

.order-overview img {
  width: 75px;
  height: 100px;
  -o-object-fit: contain;
  object-fit: contain;
}

.order-overview__text {
  padding-left: 1.5rem;
}

.order-overview__text h5 {
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}

.order-overview .order-status {
  font-size: 0.85rem;
  color: green;
}

/* ------------ My Orders ----------- */
.my-orders header,
.order-status header {
  margin-bottom: 3rem;
}

.my-orders h1,
.order-status h1 {
  font-size: 2rem;
  font-weight: 500;
}

.my-orders__container {
  max-width: 1000px;
}

.my-orders__container > a {
  display: block;
}

.no-orders {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.no-orders h2 {
  margin-bottom: 1.5rem;
  color: #b5b5b5;
  font-weight: 500;
}

.order-status header a {
  margin-left: 1rem;
  white-space: nowrap;
}

.order-status__info {
  background: #ebf7eb;
  padding: 2.5rem;
  line-height: 2;
}

.order-tracking {
  margin-top: 4rem;
  position: relative;
}

@media screen and (max-width: 500px) {
  .order-tracking {
    display: none;
  }
}

.order-tracking .track {
  width: 100%;
  height: 10px;
  border-radius: 1rem;
  border: 1px solid lightgreen;
  position: relative;
}

.order-tracking .track-filled {
  background: lightgreen;
  width: 75%;
  height: 100%;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0, 0.57, 0.46, 1.05);
  transition: -webkit-transform 1.5s cubic-bezier(0, 0.57, 0.46, 1.05);
  -o-transition: transform 1.5s cubic-bezier(0, 0.57, 0.46, 1.05);
  transition: transform 1.5s cubic-bezier(0, 0.57, 0.46, 1.05);
  transition: transform 1.5s cubic-bezier(0, 0.57, 0.46, 1.05),
    -webkit-transform 1.5s cubic-bezier(0, 0.57, 0.46, 1.05);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}

.order-tracking .track-filled.show {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.track-dot {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #73d573;
}

.track-dot:nth-child(2) {
  left: 33%;
}

.track-dot:nth-child(3) {
  left: 62%;
}

.track-dot:nth-child(4) {
  left: calc(100% - 18px);
}

.order-tracking .stages {
  padding: 0.5rem;
}

/* ------------- Img Feedback -------------- */
.img-notify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: calc(4rem + 72px) 0 4rem;
  margin-top: -72px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-notify.cart {
  --clr: #f37256;
}

.img-notify.wishlist {
  --clr: #f097ff;
}

.img-notify.checkout-success {
  --clr: #3ad449;
}

.img-notify__btn-dark {
  --clr: #444;
}

.img-notify__img {
  margin-bottom: 2rem;
  max-width: 500px;
}

.img-notify__img,
.img-notify__text {
  text-align: center;
}

.img-notify h1 {
  color: var(--clr);
}

.img-notify__btn {
  background: var(--clr);
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  font-weight: 600;
  -webkit-transition: -webkit-filter 250ms ease;
  transition: -webkit-filter 250ms ease;
  -o-transition: filter 250ms ease;
  transition: filter 250ms ease;
  transition: filter 250ms ease, -webkit-filter 250ms ease;
}

.img-notify__btn:hover,
.img-notify__btn:focus {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

@media screen and (min-width: 900px) {
  .img-notify {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .img-notify__img {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .img-notify__text {
    text-align: left;
  }
}

/* ----------- Loader ----------- */
.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 999;
  background: #fff;
}

.loading-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.loading-circle-1 {
  -webkit-animation: animate 500ms ease-in-out infinite;
  animation: animate 500ms ease-in-out infinite;
  position: relative;
}

.loading-circle-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #999 #999 #999 transparent;
  -webkit-animation: roll 1s ease-in-out infinite;
  animation: roll 1s ease-in-out infinite;
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
